@charset "UTF-8";
/* CSS Document */

html,body,h1,h2,h3,h4,h5,h6,p,blockquote,ul,ol,li,dl,dt,dd,form,fieldset,input,textarea,label,u
{
	margin:0;
	padding:0;
	border:0px;
	list-style:none;
	font-weight:normal;
	font-style:normal;
	text-align:left;
	font-family: helvetica;
}

h2 {
	font-size: 10pt;
}

h3 {
	color: black;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 18pt;
}

h4 {
	font-weight: bold;
	font-size: 8pt;
	color: green;
}


h5 {
	font-size: 8pt;
	color: grey;
}

#header {
	background-color: white;
}

#container{
	background-color: #e8e8e8;
}

	body {
		background:#FFF;}
	a,
	a:hover {text-decoration:none}	
	
    #wrapper{
	width:1200px;
	margin:0px auto;
   }
     #navbutton ul {
	float:right	
  }

#navbar {
	height: 20px;
	background-color: white;
	text-align: left;
	float: right;
	color: red;
	padding: 20px;
}

  #navbutton ul li{
	float:left;
	margin:0px 5px;
   }

#slider{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
#slider img {
	width: 100%
}

.colwhite{
	background-color: white;
}
.colgrey{
	background-color: #cacaca;
}

.clearfix:before, 
.clearfix:after{
	display:table;
	content: " ";
}
.clearfix:after{
	clear:both;
}


.col {
	width: 30%;
	float: left;
	padding: 20px;
}

.colfoot {
	width: 30%;
	float: left;
	padding: 20px;
}

#col3 {
	text-align: center;
}

#bottom-foot { 
	height: 20px;
	background-color: black;
	text-align: left;
	color: white;
	padding: 20px;
	margin-top: 2%;
}

