.resp-section {
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;	
}

.resp-grid {
	margin-left: -15px;
	margin-right: -15px;
}

.mob-1, .tab-1, .pc-1,
.mob-2, .tab-2, .pc-2,
.mob-3, .tab-3, .pc-3,
.mob-4, .tab-4, .pc-4,
.mob-5, .tab-5, .pc-5,
.mob-6, .tab-6, .pc-6,
.mob-7, .tab-7, .pc-7,
.mob-8, .tab-8, .pc-8,
.mob-9, .tab-9, .pc-9,
.mob-10, .tab-10, .pc-10,
.mob-11, .tab-11, .pc-11,
.mob-12, .tab-12, .pc-12{
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

@media screen and (max-width: 767px) {
	.resp-section{width: 100%;}
	.mob-12 {width: 100%;}
	.mob-11 {width: 91,66666667%;}
	.mob-10 {width: 83,33333333%;}
	.mob-9 {width: 75%;}
	.mob-8 {width: 66,66666667%;}
	.mob-7 {width: 58,33333333%;}
	.mob-6 {width: 50%;}
	.mob-5 {width: 41,66666667%;}
	.mob-4 {width: 33,33333333%;}
	.mob-3 {width: 25%;}
	.mob-2 {width: 16,66666667%;}
	.mob-1 {width: 8,33333333%;}

}

@media screen and (max-width: 1199px) {
	 #wrapper{	width:100%; }
}

@media screen and (max-width: 768px) and(max-width: 1199px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 1200px) {
}

@media prin {

}

.mob-1, .mob-2, .mob-3, .mob-4, 
.mob-5, .mob-6, .mob-7, .mob-8, 
.mob-9, .mob-10, .mob-11, .mob-12{
	float: left;
} 

